body{
	margin: 0;
}

p{
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-bottom: 0;
}

*:focus{
	outline: none;
}

h1{
	color: #333;
	font-family: Bebas Neue Bold;
	font-size: 50px;
	letter-spacing: 3.36px;
	line-height: 50px;
	margin-bottom: 0px;
}

/*----------------------------------Header-----------------------------------------*/

.header{
	z-index: 10;
	position: fixed;
	color: #FFF;
	transition: .5s;
	overflow: hidden;
	max-height: 60px;
	transition: all .5s, background-color .15s .35s, color 0s .4s;
}

#header-back{
	z-index: 9;
	height: 0%;
	width: 100%;
	position: absolute;
	background-color: #1C1C1C;
	margin-left: -15px;
	transition: height .2s .02s, background-color .15s .35s;
}

#header{
	z-index: 11;
	height: 60px;
	display: flex;
	align-items: center;
}

	#header h3{
		z-index: 12;
		margin-right: 40px;
		color: inherit;
		font-family: "Century Gothic";
		font-size: 21px;
		letter-spacing: 1px;
		opacity: .9;
		cursor: pointer;
	}

	#header .a-icon{
		z-index: 12;
		margin-left: 25px;
		text-decoration: none;
	}

	#header .left{
		margin-left: auto;
	}

	.header .header-icon{
		height: 29px;
		opacity: .8;
	}

	#cart{
		height: 24px;
	}

	#user{
		height: 24px;
	}

	#phone{
		height: 24px;
	}

#header-line{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 0%;
	border-top: 1px #D2D2D2 solid;
	opacity: 0%;
	transition: all .4s .1s, opacity 0.001s .399s;
}


#header-open{
	display: flex;
}

	.categories{
		transition: opacity .5s;
		margin-top: 12px;
		width: 140px;
		display: flex;
		flex-direction: column;
		margin-bottom: 12px;
		opacity: 0;
	}

	.artists{
		transition: opacity .5s;
		margin-top: 12px;
		margin-left: 22px;
		display: flex;
		flex-direction: column;
		margin-bottom: 12px;
		opacity: 0;
	}

	.head-text{
		opacity: .8;
		padding-top: 12px;
		padding-bottom: 12px;
		color: inherit;
		font-family: "Century Gothic";
		font-size: 18px;
		letter-spacing: 0.86px;
		line-height: 22px;
		padding-left: 10px;
		margin-left: -10px;
		padding-right: 10px;
		word-break: break-word;
	}

	.contact{
		transition: opacity .5s;
		margin-top: 25px;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;
		text-align: right;
		opacity: 0;
	}

	#header .phone{
		margin-left: auto;
	}

	.second{
		margin-top: 5px;
	}

	.con{
		padding: 0px;
	}

	.kek{
		margin-top: 20px;
	}

.head-text:hover{
	text-decoration: none;
	background: rgba(0, 0, 0, .05);
	color: #000000;
	opacity: .8;
}

.con:hover{
	color: #F79753;
	background: none;
}

#menu{
	display: none;
}

.not-main #header-back{
	height: 60px;
}

.header-open{
	max-height: 9000px;
	transition: all 1.25s ease .02s, background-color .005s;
	color: #1C1C1C;
	background-color: #FFF;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.08);
}

.header-open #header-line{
	width: 70%;
	opacity: 100%;
	transition: all .4s .1s, opacity 0s .001s;
}

.header-open .categories{
	transition: opacity .5s .15s;
	opacity: .8;
}

.header-open .artists{
	transition: opacity .5s .2s;
	opacity: .8;
}

.header-open .contact{
	transition: opacity .5s .25s;
	opacity: .8;
}

.not-main{
	position: absolute;
	top: 0px;
}

/*----------------------------------Header mobile-----------------------------------------*/

@media only screen and (max-width: 768px){

	#menu{
	  position: absolute;
	  z-index: 10;
	}

	#header .phone{
		opacity: 0;
	}

	#header .a-icon{
		display: none;
		margin-left: 50px;
		transform: scale(1.3);
	}

	#header .right{
		margin-right: 88%;
	}

	.header h3{
		display: none;
	}

	.header{
		max-height: 110px;
		transition: 0s;
		z-index: 4;
	}

	.not-main{
		position: fixed;
		top: 0px;
	}

	.header:hover{
		max-height: 110px;
		box-shadow: none;
		transition: 0s;
	}

	#header{
		height: 110px;
		display: flex;
		justify-content: center;
	}

	#menu{
		position: absolute;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		right: 30px;
		top: 30px;
		height: 50px;
		width: 50px;
		padding: 9px;
		background-color: #1C1C1C;
		border: 0px solid rgba(224, 224, 224, .8);
		border-radius: 4px;
		cursor: pointer;
	}

	#menu:focus{
		outline: none;
	}

	.menu-block:focus{
		outline: none;
	}

	.menu-block{
		height: 4px;
		border-radius: 9px;
		background-color: #E0E0E0;
		width: 32px;
	}

	.header:hover #header-back{
		background-color: transparent;
	}

	.header:hover #header-line{
		width: 100%;
	}

	.header:hover{
		transition: 0s;
		background-color: transparent;
	}

	.header:focus{
		background-color: transparent;
	}

	.contact, #header-back{
		display: none;
	}

	.categories, .artists{
		transition: 0s;
	}

	.head-text{
		font-size: 16px;
		padding-bottom: 12px;
		padding-top: 12px;
		transition: 0s;
	}

	#mobile{
		max-height: 9000px;
		transition: all 1.25s ease .02s, background-color .005s;
		color: #1C1C1C;
		background-color: #FFF;
		box-shadow: 0 0 12px 0 rgba(0,0,0,0.08);
	}

	#mobile #header-line{
		width: 100%;
		opacity: 100%;
		transition: all .4s .1s, opacity 0s .001s;
	}

	#mobile .categories, #mobile .artists{
		transition: opacity .5s .15s;
		opacity: .8;
	}

	#header-overlay{
		z-index: 2;
		position: fixed;
		transition: .5s;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, .6);
	}

	.h{
		color: black;
		font-weight: bold;
		opacity: 1;
		margin-bottom: 0px;
		font-size: 18px;
		word-break: normal;
	}

}

@font-face {
	font-family: Bebas Neue Bold; /* Гарнитура шрифта */
	src: url(../data/Bebas_Neue_Bold.ttf); /* Путь к файлу со шрифтом */
}

/*----------------------------------Footer-----------------------------------------*/

body {
  display: flex;
  flex-direction: column;
}

#footer{
	background-color: #1C1C1C;
	box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.5);
	height: 216px;
	display: flex;
	align-items: center;
	margin-top: 100px;
}

	#footer .content{
		height: 180px;
	}

		#footer .row{
			height: 100%;
		}
		
			#footer .col-md-3{
				display: flex;
				flex-direction: column;
			}

				#footer h3{
					color: #F79753;
					font-family: 'Nunito', sans-serif;
					font-size: 24px;
					font-weight: 700;
					letter-spacing: 3.42px;
					line-height: 24px;
				}

				#footer a{
					text-decoration: none;
					color: #FFF;
					opacity: .95;
					padding-top: 2px;
					font-family: Century Gothic;
					font-size: 16px;
					letter-spacing: 1.5px;
					word-break: break-word;
				}

				#footer a:hover{
					color: #FFB377;
				}

				#footer .col-md-3 a{
					display: block;
				}

				#footer .check svg{
					margin-right: 8px;
				}

				#footer .icon{
					margin-top: 8px;
					display: flex;
					align-items: center;
				}

					#footer .icon svg{
						margin-top: 0px;
					}

					#footer .icon a{
						padding-top: 3px;
					}

				#footer .icons{
					display: flex;
					align-items: left;
				}

				#footer .icons .icon{
					margin-right: 8px;
				}

				#footer .icons .icon a{
					display: block;
					height: 100%;
				}

			#footer .col-md-4{
				display: flex;
				flex-direction: column;
			}

				#footer .col-md-4 #name{
					color: #FFF;
					font-family: 'Nunito', sans-serif;
					font-size: 28px;
					font-weight: 700;
					letter-spacing: 1.88px;
					line-height: 28px;
					position: absolute;
					bottom: 0;
				}

				#footer .first{
					margin-top: 8px;
				}

				@media only screen and (max-width: 768px) {
					#footer .non-mobile, #footer .col-md-2, #choise .button{
						display: none;
					}

					.col-md-3{
						text-align: center;
						align-items: center;
					}

					.icons{
						width: 100px;
					}
				}

				@media only screen and (min-width: 768px) and (max-width: 1199px) {
					#footer a{
						font-size: 13px;
						padding-top: 4px;
						letter-spacing: 0px;
					}

					#footer .icons{
						margin-top: -5px;
					}
				}