/*----------------------------------Middle-----------------------------------------*/

#middle{
	background-image: url(../data/middle.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.4);
	margin-top: 0px;
}

	#middle h1{
		color: #F2F2F2;
		font-family: Bebas Neue Bold;
		font-size: 148px;
		letter-spacing: 9.95px;
		vertical-align: middle;
		line-height: normal;
	}

	#middle h3{
		color: #F2F2F2;
		font-family: "Century Gothic";
		font-size: 32px;
		letter-spacing: 2.15px;
	}

	#middle .row{
		height: 100%;
	}

	#middle .col-md-6{
		height: 100%;
		/*border: 2px solid gray;*/
	}

	#middle .col-md-10{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

/*----------------------------------Categories-----------------------------------------*/

#categories{
	height: auto;
	margin-top: 80px;
}

	#categories a{
		text-decoration: none;
	}

	#categories h2{
		color: #333;
		font-family: Bebas Neue Bold;
		font-size: 48px;
		letter-spacing: 3.23px;
		line-height: 48px;
	}

	#categories .row{
		height: auto;
	}

	#categories .col-md-3{
		margin-top: 30px;
		height: auto;
		/*border: 1px solid lightgray;*/
	}

	.category-card{
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 255px;
		border-radius: 7px;
		box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.3);
		display: flex;
		transition: .1s;
		color: #F2F2F2;
		cursor: pointer;
	}

		#categories p{
			width: 100%;
			background: rgba(0,0,0,0.56);
			font-family: Bebas Neue Bold;
			color: inherit;
			letter-spacing: 2.69px;
			text-align: center;
			align-self: flex-end;
			margin-bottom: 0;
			border-radius: 0px 0px 7px 7px;
			font-size: 40px;
			word-break: break-word;
		}

		@media only screen and (max-width: 1200px){
			.category-card{height: 210px}
		}
		@media only screen and (max-width: 992px){
			.category-card{height: 150px}
			#categories p{font-size: 26px}
		}

/*----------------------------------Artist-----------------------------------------*/

#artist{
	background-image: url(../data/artist.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 622px;
	margin-top: 100px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	word-break: break-word;
}

	#artist .content{
		/*border: 1px solid #FFF;*/
		height: 382px;
		position: relative;
	}

		#artist h1{
			color: white;
			font-family: "Bebas Neue Bold";
			font-size: 86px;
			letter-spacing: 5.78px;
			line-height: 86px;
		}

			#artist span{
				color: #F79753;
			}

		#artist p{
			color: #F2F2F2;
			font-family: 'Nunito', sans-serif;
			font-size: 28px;
			letter-spacing: 1.88px;
			line-height: 28px
		}

		#artist .morebtn{
			position: absolute;
			box-sizing: border-box;
			height: 67px;
			width: 182px;
			border-radius: 4px;
			border: 2px solid #FFF;
			align-self: flex-end;
			bottom: 0;
			right: 0;
			text-align: center;
			transition: .05s;
		}

			.morebtn a{
				height: 100%;
				width: 100%;
				font-family: "Century Gothic";
				font-size: 32px;
				letter-spacing: 2.15px;
				line-height: 67px;
				text-decoration: none;
				display: block;
				color: #F79753;
				transition: .05s;
			}

		@media only screen and (max-width: 768px){
			#artist .morebtn{
				right: calc(50% - 91px);
			}

			#artist h1{
				font-size: 52px;
				line-height: 48px;
				text-align: center;
				word-break: break-word;
			}

			#artist p{
				font-size: 22px;
				line-height: 22px;
				word-break: break-word;
				text-align: center;
			}
		}

/*----------------------------------Our choise-----------------------------------------*/

#choise{
	margin-top: 100px;
}

	#choise h2{
		color: #333;
		font-family: Bebas Neue Bold;
		font-size: 48px;
		letter-spacing: 3.23px;
		line-height: 48px;
	}

	#choise .picture{
		background-image: url(../data/esmerald.jpg);
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		height: 215px;
		border-radius: 7px;
		margin-top: 40px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.6);
		text-align: right;
		transition: .5s;
		position: relative;
	}

		#choise .overlay{
			z-index: 1;
			height: 100%;
			width: 100%;
			margin-left: 15px;
			background: rgb(0,0,0);
			background: linear-gradient(238deg, rgba(0,0,0,0.65) 0%, rgba(0,78,94,0) 66%, rgba(0,212,255,0) 100%);
			border-radius: 0px 7px 7px 0px;
			display: flex;
			align-items: center;
		}

		#choise .content{
			height: 180px;
			position: relative;
		}

			#choise h3{
				z-index: 2;
				color: #FFF;
				font-family: "Century Gothic";
				font-size: 42px;
				letter-spacing: 2.82px;
				line-height: 51px;
				margin-bottom: 0px;
			}

			#choise p{
				z-index: 2;
				color: #F79753;
				font-family: "Century Gothic";
				font-size: 36px;
				font-weight: 700;
				letter-spacing: 2.42px;
				line-height: 44px;
			}

			#choise .buybtn{
				position: absolute;
				right: 15px;
				bottom: 10px;
				box-sizing: border-box;
				height: 44px;
				width: 118px;
				border-radius: 4px;
				border: 2px solid #FFF;
				text-align: center;
				transition: .05s;
			}

				.buybtn a{
					display: block;
					height: 100%;
					width: 100%;
					font-family: "Century Gothic";
					font-size: 24px;
					font-weight: 700;
					letter-spacing: 1.61px;
					line-height: 44px;
					text-decoration: none;
					color: #F79753;
					transition: .05s;
				}
	#a-full{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		margin-left: -15px;
		z-index: 4;
	}

/*----------------------------------Reviews-----------------------------------------*/

#reviews{
	margin-top: 80px;
}

#reviews-title{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.write-comment{
	max-height: 0px;
	overflow: hidden;
}

.write-comment textarea{
	width: 100%;
	height: 150px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: .2px;
	margin-left: auto;
	cursor: pointer;
	cursor: text;
	padding: 5px;
	box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.06);
}

.write-comment-open{
	max-height: 500px;
	transition: 1s ease-out;
	display: flex;
	flex-direction: column;
}

#reviews-title p{
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-left: auto;
	cursor: pointer;
}

#reviews-title p:hover{
	color: #F79753;
}

#postbtn{
	height: 42px;
	width: 120px;
	margin-left: auto;
	font-family: Bebas Neue Bold;
	font-size: 28px;
	line-height: 48px;
	color: #FFFFFF;
	background-color: #424242;
	border-radius: 7px;
	text-align: center;
	cursor: pointer;
	transition: .35s ease-out;
	border: 0px solid;
}

#postbtn:hover{
	width: 142px;
	transition: .35s ease-in-out;
	letter-spacing: 1px;
	border: 0px solid;
}

#postbtn:active{
	width: 138px;
	transition: .1s ease-in-out;
	letter-spacing: normal;
	border: 0px solid;
}

#postbtn:focus{
	border: 0px solid;
	outline: none;
}

#comments{
	margin-top: 40px;
}

#reviews h2{
	font-size: 30px;
	font-family: Bebas Neue Bold;
}

.comment{
	margin-top: 20px;
	color: rgba(0,0,0,.65);
}

#reviews h2{
	color: inherit;
}

.comment-text{
	padding: 5px;
	padding-left: 15px;
	border-left: 1px solid rgba(0,0,0,.2);
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	color: #212529;
}

@media only screen and (max-width: 576px){
	.write-comment-mobile{
		max-height: 500px;
	}

	#reviews-title p{
		display: none;
	}
}

/*----------------------------------Text-----------------------------------------*/

@media only screen and (max-width: 768px) {

	#middle{
		height: 520px;
	}

	#middle h1{
		font-size: 96px;
	}

	#middle h3{
		font-size: 24px;
	}

	#artist .content{
		height: 480px;
	}

	.category-card{
		padding-top: 0;
		height: 150px;
	}

	#choise .overlay{
		/*background: linear-gradient(238deg, rgba(0,0,0,0.75) 0%, rgba(0,212,255,0) 100%);*/
	}

	#artist a:hover{text-decoration: none; color: #F79753}
	#artist a:link{text-decoration: none}
	#artist a:active{text-decoration: none}
}

@media only screen and (max-width: 520px){
	#middle h1{
		font-size: 64px;
	}

	#middle h3{
		font-size: 22px;
	}
}

/*----------------------------------Animation-----------------------------------------*/

.button:hover{
	background: #F79753;
	transform: scale(1.05);
	color: #FFF;
	box-shadow: 0 2px 16px 0 rgba(0,0,0,.8);
}

	.button a:hover{
		color: #FFF;
		text-decoration: none;
	}
	
.button:active{
	color: #FFF;
	transform: scale(0.99);
}

#choise .picture:hover{
	background-position: center 5%;
}

#categories .category-card:hover{
	transform: scale(1.05);
	color: #F79753;
	box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.6);
}

#categories .category-card:hover p{
	font-size: 42px;
}

	#categories .category-card:active{
	transform: scale(1.03);
	color: #F79753;
	box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.4);
}

@media only screen and (max-width: 768px){
	#categories .category-card:hover{
		transform: scale(1);
		color: #FFF;
		box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.3);
	}

	#categories .category-card:hover p{
		font-size: 26px;
	}

	.button:hover{
		background: transparent;
		transform: scale(1);
		color: #F79753;
		box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
	}

	#choise .picture:hover{
		background-position: center top;
	}
}